[Unit]
Description = Burp backup server
After = local-fs.target
BindToDevice={{ burp_iface }}

[Service]
ExecStart = /usr/sbin/burp -c /etc/burp/server.conf -F

[Install]
WantedBy = multi-user.target

