# {{ burp_conf_dir }}/burp.conf: burp backup client config
# {{ansible_managed}}

mode = client

server = {{ burp_server }}
port = {{ burp_port }}
status_port = {{ burp_status_port }}

cname = {{ inventory_hostname }}
password = {{ burp_pw }}

syslog = 0
stdout = 1
progress_counter = 0
randomise = 1200

{% if 'win' in group_names %}
lockfile = {{ burp_conf_dir }}/lockfile
{% else %}
pidfile = /var/run/burp.pid
{% endif %}

autoupgrade_dir = {{ burp_conf_dir }}/upgrade/
autoupgrade_os = {{ ansible_system }}-{{ ansible_architecture }}

{% if 'win' in group_names %}
ca_burp_ca = {{ burp_conf_dir }}/bin/burp_ca.bat
{% else %}
ca_burp_ca = /usr/sbin/burp_ca
{% endif %}

ca_csr_dir      = {{ burp_conf_dir }}/keys/
ssl_cert_ca     = {{ burp_conf_dir }}/keys/ca.crt
ssl_cert        = {{ burp_conf_dir }}/keys/{{ inventory_hostname }}.crt
ssl_key         = {{ burp_conf_dir }}/keys/{{ inventory_hostname }}.key
ssl_key_password = password
ssl_peer_cn	= {{ burp_server_CN }}

{% if 'win' in group_names %}
ratelimit = 3 # Mbps send
split_vss = 0
strip_vss = 0
{% endif %}
